
@model Cliente
@{
    ViewData["Title"] = "Login";
    Layout = "LayoutLogin";

}

<link rel="stylesheet" href="~/css/login.css" asp-append-version="true" />
<link rel="stylesheet" href="sweetalert2.min.css"/>


<html>

<body>
    

    <div class="container">
        <div class="backbox">
            <div class="loginMsg">
                <div class="textcontent">
                    <p class="title">No tienes cuenta?</p>
                    <p>Ingresa a nuestra plataforma.</p>
                    <button id="switch1">SIGN UP</button>
                </div>
            </div>
            <div class="signupMsg visibility">
                <div class="textcontent">
                    <p class="title">Ya tienes una cuenta?</p>
                    <p>Log in para administrar.</p>
                    <button id="switch2">LOG IN</button>
                </div>
            </div>
        </div>
        <!-- backbox -->

        <div class="frontbox">

            <div class="login">
                <form asp-controller="Home" asp-action="Login"  method="post">
                <h2>LOG IN</h2>
                    <h6>Bienvenido de nuevo!</h6>
                <div class="inputbox">
                        <input asp-for="Cedula"  type="text" name="Cedula" placeholder="  CEDULA">
                        <input asp-for="Password" type="password" name="password" placeholder="  PASSWORD">
                </div>
                 <p style="color: red; ">@ViewBag.ErrorMsg</p>
                <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">LOGIN</button>
                </form>
            </div>

            <div class="signup hide">
                <form asp-controller="Home" asp-action="SignUp" method="post">
                <h2>SIGN UP</h2>
                    <div class="inputbox">
                        <input asp-for="Nombre" type="text" name="nombre" placeholder="  NOMBRE">
                        <input asp-for="Cedula" type="text" name="cedula" placeholder="  CEDULA">
                        <input asp-for="Direccion" type="text" name="direccion" placeholder="  DIRECCION">
                        <input asp-for ="Password" type="password" name="password" placeholder="  PASSWORD">
                </div>
                <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">SIGN UP</button>
                </form>
            </div>
@* 

            <form method="post">
                <h5>Crea a tu cuenta</h5>

                <div class="form-outline mb-4">
                    <input asp-for="Nombre" class="form-control">

                    <label class="form-label" for="form2Example11">Nombre</label>
                </div>


                <div class="form-outline mb-4">
                    <input asp-for="Cedula" class="form-control" placeholder="Cedula">

                    <label class="form-label" for="form2Example11">Usuario</label>
                </div>

                <div class="form-outline mb-4">
                    <input asp-for="Password" type="password" class="form-control" />
                    <label class="form-label" for="form2Example22">Contraseña</label>


                </div>

                <div class="form-outline mb-4">
                    <input asp-for="Direccion" class="form-control">
                    <label class="form-label" for="form2Example11">Dirección</label>
                </div>



                <div class="text-center pt-1 mb-5 pb-1">
                    <button class="btn btn-primary btn-block fa-lg gradient-custom-2 mb-3" type="submit">Sign Up</button>
                </div>
                <p></p>
                @ViewBag.ErrorMsg


                <div class="d-flex align-items-center justify-content-center pb-4">
                    <p class="mb-0 me-2">Ya tienes una cuenta?</p>
                    <a asp-action="Login" class="btn btn-outline-info">Login</a>
                </div>


            </form> *@

        </div>
        <!-- frontbox -->
    </div>
</body>

</html>


<script src="~/js/login.js" asp-append-version="true"></script>


<script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        var mensaje = '@(TempData["Mensaje"]?? string.Empty)';
        if (mensaje !== '') {
            Swal.fire({
                title: "Solo Personal Administrativo",
                width: 600,
                padding: "3em",
                color: "#716add",
                background: "#fff url(https://sweetalert2.github.io/images/trees.png)",
                backdrop: `
        rgba(0,0,123,0.4)
        url("https://sweetalert2.github.io/images/nyan-cat.gif")
        left top
        no-repeat
      `
            });
        }

    });
</script>










